.size {
	width: 45vw;
	height: 60vh;
	min-width: 780px;
	min-height: 570px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 15px;
	margin-left: 15px;
}

.sapUiPanelTitle{
	margin-left: 1%; 
	margin-right: 40%;
	overflow: visible;
}

.container {
	min-width: 780px;
}